[submodule "dpdk"]
	path = dpdk
	url = ../dpdk
[submodule "apps/quicd/lsquic"]
	path = apps/quicd/lsquic
	url = https://github.com/litespeedtech/lsquic.git
[submodule "apps/quicd/boringssl"]
	path = apps/quicd/boringssl
	url = https://boringssl.googlesource.com/boringssl
